.container-fluid {
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient rgba(102, 58, 14, 0.685),
    rgba(248, 206, 18, 0.473);
  background-attachment: fixed;
  background-position: center;
  color: rgb(236, 244, 255);
}

.vertical {
  border: groove 8px rgba(22, 18, 1, 0.342);
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: rgba(245, 229, 199, 0.575);
  box-shadow: 0px 15px 50px -10px rgb(0, 0, 0),
    inset 0px 0px 150px -25px rgba(226, 207, 143, 0.404);
  height: fit-content;
  width: fit-content;
  max-width: 1200px;
  padding-left: 7vw;
  padding-right: 7vw;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}

h3 {
  font-size: 7rem;
  margin-top: 2vh;
  margin-bottom: auto;
  width: 100%;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.836);
  -webkit-text-fill-color: rgba(133, 105, 13, 0.774);
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  background: linear-gradient(
    145deg,
    rgba(214, 159, 9, 0.685) 70%,
    rgba(248, 206, 18, 0.616)
  );
  background-clip: text;
}

.topbar {
  top: 0;
  position: absolute;
  height: 7vh;
  width: 100%;
  background-color: rgba(5, 4, 0, 0.863);
  box-shadow: 0px 15px 50px -10px rgb(0, 0, 0);
}

.nametitle {
  animation-duration: 1500ms;
}

h5 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  text-shadow: 0px 0px 7px rgba(15, 15, 15, 0.753);
  background-color: rgba(22, 18, 1, 0.699);
  width: fit-content;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

h4 {
  font-size: 6rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.836);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  background: rgb(253, 216, 49);
  background-clip: text;
}

.spacer {
  position: absolute;
  bottom: 0;
  height: 3vh;
  background-color: black;
}

.no-gutters,
.row {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.profileCentering {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-width: 80vw; */
}

.blurDrop {
  border-radius: 3px;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  justify-content: center;
  height: fit-content;
  padding-top: 12vh;
  padding-bottom: 12vh;
  width: 100%;
  max-width: 1600px;
  background-color: rgba(215, 226, 235, 0.11);
  box-shadow: 0px 25px 100px -10px rgba(26, 26, 26, 0.479),
    inset 0px 0px 75px -20px rgba(177, 141, 78, 0.075);
  animation-name: titleIntro, fadeIn;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.title {
  border-top: groove 3vh rgb(43, 36, 20);
  box-shadow: inset 0px 30px 50px -30px rgrgb(43, 36, 20);
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100vh;
  text-align: center;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  min-height: 100vh;
  border-bottom: 2px outset rgba(61, 61, 61, 0.418);
  border-top: 2px outset rgba(61, 61, 61, 0.418);
}

.evenodd:nth-child(odd) {
  background-color: rgb(49, 21, 5);
}

.aboutMe {
  border-radius: 3px;
  height: 100%;
  position: relative;
  margin-bottom: 5vh;
  width: 100%;
  max-width: 1400px;
  padding-bottom: 10vh;
  background-color: rgba(245, 229, 199, 0.575);
  box-shadow: 0px 15px 50px -10px rgb(0, 0, 0),
    inset 0px 0px 150px -25px rgba(226, 207, 143, 0.404);
  animation: fadeInUp;
  animation-duration: 1200ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  opacity: 0;
}

.silly {
  text-shadow: 0px 3px 10px rgb(0, 0, 0);
  font-size: 2rem;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 3px;
  margin-bottom: 1vh;
  background-color: rgba(22, 9, 1, 0.836);
  box-shadow: 0px 0px 15px -5px rgb(0, 0, 0),
    inset 0px 0px 35px -15px rgb(0, 0, 0);
}

.aboutmetext {
  font-size: 1.4rem;
  text-shadow: 0px 3px 10px rgb(0, 0, 0);
  margin-left: auto;
  margin-bottom: 5vh;
  margin-right: auto;
  max-width: 600px;
  border-radius: 3px;
  background-color: rgba(22, 9, 1, 0.836);
  box-shadow: 0px 0px 15px -5px rgb(0, 0, 0),
    inset 0px 0px 35px -10px rgb(0, 0, 0);
}

.blurb {
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
  padding-top: 7vh;
  min-width: 300px;
}

.headshot {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.myface {
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  height: 42vh;
  min-height: 300px;
  margin-top: 5vh;
  box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
}

.quote {
  font-size: 16px;
  margin-top: 5vh;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  height: fit-content;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.644);
  background-color: rgba(0, 0, 0, 0.945);
  box-shadow: 0px 0px 15px -1px rgb(0, 0, 0);
}

.aboutMeTitle {
  height: fit-content;
}

.designs {
  white-space: nowrap;
  margin-top: 2vh;
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1400ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.solutions {
  white-space: nowrap;
  margin-bottom: 3vh;
  opacity: 0;
  animation: fadeInUp;
  animation-duration: 1400ms;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
}

.goodbye {
  align-self: center;
  justify-self: center;
  opacity: 0;
  border: inset 10px rgba(0, 0, 0, 0.616);
  margin: 10px 10px 10px 10px;
  border-radius: 3px;
  min-height: 50vh;
  width: 85%;
  max-width: 1400px;
  background-color: rgba(24, 24, 24, 0.724);
  display: flex;
  box-shadow: 0px 0px 10px -2px rgb(0, 0, 0);
  justify-content: center;
  animation-name: fadeInUp;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.goodbye h3 {
  margin-top: 5vh;
  font-size: 10vw;
}

.morelater {
  height: fit-content;
}

.goodbyetext {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
  background-color: rgba(5, 3, 0, 0.724);
  border: double 5px rgba(177, 141, 78, 0.281);
  border-radius: 3px;
  font-size: 20px;
  width: calc(55vw + 40px);
  max-width: 900px;
  height: fit-content;
  margin-bottom: 5vh;
}

.contact {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.253);
  background-color: rgba(5, 3, 0, 0.724);
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

h1 {
  font-size: 18px;
  margin-left: 2vw;
  margin-right: 2vw;
}

@keyframes titleIntro {
  0% {
    transform: translateY(50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 12vw;
  }
  h4 {
    font-size: 10vw;
  }
  h5 {
    font-size: 3vw;
  }
  .blurb {
    margin-bottom: 50px;
  }
}
